@import '../global.scss';

.heroContainer {
  z-index: 3;
  height: calc(100vh - 48px);
  h1 {
    font-weight: 700;
    font-size: 3rem;
  }
  p {
    font-size: 1.25rem;
    margin: 1rem 0 2.5rem;
  }
  .heroImage {
    width: 100%;
    display: table;
    white-space: nowrap;
    div {
      position: relative;
      vertical-align: middle;
      padding: 10px;
      display: table-cell;
      img {
        width: 100%;
      }
    }
  }
}

.dogSlider {
  position: relative;
  height: 600px;
  .caption {
    padding-top: 5rem;
    width: 340px;
    position: absolute;
    z-index: 2;
    h1 {
      font-size: 3rem;
      font-weight: 700;
      span {
        color: $primaryBtnActive;
      }
      margin-bottom: 3rem;
    }
    p {
      font-size: 1.1rem;
    }
  }
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    z-index: 0;
    &Container {
      width: 100%;
      height: 100%;
      .sliderImage {
        height: 600px;
        border-radius: 20px;
        overflow: hidden;
        img {
          min-height: 100%;
        }
      }
    }
  }
  &::before {
    content: '';
    position: absolute;
    z-index: 1;
    width: 55%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
      90deg,
      rgba(#f5f5f5, 0.9) 0%,
      rgba(#f5f5f5, 0.8) 50%,
      rgba(#f5f5f5, 0) 100%
    );
  }
}

.meetPuppies {
  margin: 7rem 0;
  &Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-weight: 700;
      span {
        color: $primaryBtnActive;
      }
    }
  }
  &SeeMore {
    margin-top: 1rem;
    a {
      color: rgba(black, 0.6);
      text-decoration: none;
      font-weight: 600;
    }
  }
}

.whyUs {
  margin: 10rem 0;
  &Container {
    @include centerFlexColumn;
    h1 {
      margin-bottom: 2rem;
    }
  }
  &Card {
    h2 {
      text-align: center;
      span {
        display: block;
        color: $primaryBtnActive;
      }
    }
  }
}

.testi {
  margin: 10rem 0;
  padding: 0 1rem;
  width: 100%;
  height: auto;
  &SliderCard {
    margin: 3rem 0;
    padding: 2rem 2rem;
    background-color: $secondary;
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    min-height: 250px;
    width: 100%;
    @include centerFlexColumn;
    h5 {
      font-size: 1rem;
      text-align: center;
    }
    &Bottom {
      margin-top: 1.5rem;
      @include centerFlexColumn;
    }
  }
}
