// Color themeing

// Color system
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: (
  '100': $gray-100,
  '200': $gray-200,
  '300': $gray-300,
  '400': $gray-400,
  '500': $gray-500,
  '600': $gray-600,
  '700': $gray-700,
  '800': $gray-800,
  '900': $gray-900,
) !default;

$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;

$colors: (
  'blue': $blue,
  'indigo': $indigo,
  'purple': $purple,
  'pink': $pink,
  'red': $red,
  'orange': $orange,
  'yellow': $yellow,
  'green': $green,
  'teal': $teal,
  'cyan': $cyan,
  'white': $white,
  'gray': $gray-600,
  'gray-dark': $gray-800,
) !default;

$primary: #ffc700 !default;
$primary: #ffc700 !default;
$primaryDark: #eb9c03;
$secondary: #fff !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-900 !default;
$button: #6a1313;
$google: #4285f4;

$theme-colors: (
  'primary': $primary,
  'primaryDark': $primaryDark,
  'button': $button,
  'google': $google,
  'secondary': $secondary,
  'success': $success,
  'info': $info,
  'warning': $warning,
  'danger': $danger,
  'light': $light,
  'dark': $dark,
) !default;

// Font family for body
$font-family-sans-serif: 'Rubik', system-ui, -apple-system, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;

// Default body background
$body-bg: #fff;

// Heading 1 Font Size
$h1-font-size: calc(2rem + 1.5vw);

// font semibold
$font-weight-semibold: 600 !default;

// remove default style type in the list
li {
  list-style-type: none !important;
}

.heroContainer {
  height: calc(100vh - 48px);
  .heroImage {
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
  }
}

.full-with-footer {
  min-height: calc(100vh - (58px + 419px));
}
.puppyImageBrowse {
  width: 200px;
  height: 200px;
}

.formContainer {
  width: 500px;
}

.formGroup {
  label {
    top: 18px;
    left: 2px;
    position: relative;
    background-color: #f5f5f5;
    padding: 0px 5px 0px 5px;
    font-size: 0.9em;
  }
}

.cardPuppy {
  border-radius: 30px;
  cursor: pointer;
}

.detailPuppyCard {
  div {
    padding: 10px;
    div {
      background: white;
      border-radius: 10px;
      height: 100px;
    }
  }
}

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/utilities';

$utilities: map-merge(
  $utilities,
  (
    'font-weight':
      map-merge(
        map-get($utilities, 'font-weight'),
        (
          values:
            map-merge(
              map-get(map-get($utilities, 'font-weight'), 'values'),
              (
                semibold: $font-weight-semibold,
              )
            ),
        )
      ),
  )
);

.slick-slide {
  margin: 0 1rem;
}
.slick-list {
  margin: 0 -1rem;
}

.testimonial-slider {
  .swiper {
    padding: 0 1rem !important;
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  .swiper-slide {
    transition: all 0.3s ease;
    &.swiper-slide-active {
      transform: scale(1.2) !important;
      z-index: 2;
    }
  }
}

// Slider with Thumbs

.product-images-slider {
  width: 100%;
  .swiper-slide {
    padding-top: 100%;
    margin-bottom: 0.8rem;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  .swiper-button-prev {
    left: 30;
    color: rgb(255, 255, 255);
  }

  .swiper-button-next {
    right: 30;
    color: rgb(255, 255, 255);
  }
}

.product-images-slider-thumbs {
  .swiper-slide {
    cursor: pointer;

    &-thumb-active {
      border-radius: 10px;
      border: 2px solid black;
    }
  }

  &-wrapper {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    position: relative;

    img {
      border-radius: 8px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

@import '~bootstrap/scss/bootstrap';
@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';
@import '~swiper/css/bundle';
