@import '../../styles/global.scss';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
  transition: transform 0.1s;
  transition-timing-function: ease-out;
  &:hover {
    transform: scale(1.1);
    z-index: 3;
    box-shadow: 0 0 1rem rgba(black, 0.8);
    border-radius: 20px;
  }
  &:active {
    transform: scale(1.05);
    z-index: 3;
    box-shadow: 0 0 1rem rgba(black, 0.8);
    border-radius: 20px;
  }
  &Img {
    width: 100%;
    height: 345px;
    object-fit: cover;
    border-radius: 20px;
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: red;
    }
  }
  &Tag {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: $tagColor;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(black, 0.2);
    &Sex {
      border-right: 1.5px solid $tagColorBorder;
      padding: 0 5px;
    }
    &Color {
      padding: 0 10px;
      & > div {
        width: 15px;
        height: 15px;
        border-radius: 15px;
      }
      .black {
        background-color: black;
      }
      .white {
        background-color: white;
      }
      .brown {
        background-color: $brownDog;
      }
      .bridle {
        background: brown;
      }
    }
    &Age {
      padding: 0 8px;
      border-left: 1.5px solid $tagColorBorder;
    }
  }
  .medal {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 3rem;
  }
}
