@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import '../../styles/global';

.navBar {
  margin: 0;
  padding: 0.5rem 0;
  box-shadow: 0px 2px 4px 0px #0000000d;
  background: $secondary;
  &__brand {
    img {
      width: 40px;
    }
  }
  &__menu {
    a {
      display: block;
      padding: 0.5rem 1rem;
      text-decoration: none;
      transition: color 0.15s ease-in-out;
      &:hover {
        color: #1d1d1d;
      }
    }
    &_main {
      a {
        color: #9c9c9c;
        @include media-breakpoint-down(lg) {
          background-color: $secondary;
          font-weight: 500;
          width: 100%;
          height: auto;
          margin-top: 1rem;
          border: 1px solid black;
          border-radius: 5px;
          text-align: center;
        }
      }
    }
    .active {
      position: relative;
      color: #1d1d1d;
      &::before {
        content: '';
        position: absolute;
        bottom: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 75%;
        height: 7px;
        background: #ffc700;
        border-radius: 5px 5px 0 0;
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }
    }
  }
  .authMenu {
    @include centerFlexColumn;
    position: relative;
    p {
      margin: 0;
      cursor: pointer;
    }
    &Toggle {
      position: absolute;
      top: 40px;
      border-radius: 8px;
      overflow: hidden;
      display: none;
      border: 1px solid $dark1;
      & > div {
        padding: 0.5rem 1rem;
        width: 200px;
        background: white;
        p {
          color: $dark1;
        }
        &:hover {
          background: $tagColor;
          font-weight: 500;
        }
      }
      a {
        padding: 0;
        color: $dark1;
      }
      &.dropdownShown {
        display: block;
      }
    }
  }
}
