@import '../../styles/global.scss';
.booking {
  width: 100%;
  &Row {
    &Puppy {
      @include centerFlexRow;
      justify-content: flex-start;
      &Image {
        width: 48px;
        border-radius: 24px;
        margin-right: 1rem;
      }
      p {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
      }
    }
  }
}
